<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ book.title}}</title>
    </head>
    <body>
        <h1>{{ book.title}}</h1>
        <p><strong>Author:</strong> {{ book.authors[0].name if book.authors else 'Unknown' }}</p>
        <p><strong>First Published:</strong> {{ book.created.value}}</p>
        <p><strong>Description</strong> {{ book.description if book.description else 'No description available'}}</p>
        <a href="/">Back to Book List</a>
    </body>
</html>